<div id="fb-root"></div>
<script>
$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  var user_id = wn.get_cookie("user_id");
  var sid = wn.get_cookie("sid");
  
  // logged in?
  if(!sid || sid==="Guest") {
	  // fallback on facebook login -- no login again
	  $(".btn-login").html("Login via Facebook").removeAttr("disabled");
  } else {
	  // get private stuff (if access)
	  app.setup_user({"user": user_id});
  }
  
});

$(function() {
	$(".btn-login").click(function() {
		$(this).prop("disabled", true).html("Logging In...");
		$.getScript('//connect.facebook.net/en_UK/all.js', function() {
		    var user_id = wn.get_cookie("user_id");
			FB.init({
			  appId: '1436293429934338',
			}); 

			// fallback
			FB.getLoginStatus(function(response) {
				if(response.status==="connected") {
					// yes logged in via facebook, now log me in
					app.setup_user({"user": user_id, "fb_access_token": 					
						response.authResponse.accessToken || "[none]"})
				} else {
					app.login_via_facebook();
				}
			});
		});
	});
});
</script>