<div id="fb-root"></div>
<script>
$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  var user_id = wn.get_cookie("user_id");
  var sid = wn.get_cookie("sid");
  
  // logged in?
  if(!sid || sid==="Guest") {
	  // fallback on facebook login -- no login again
	  $(".btn-login").html("Login via Facebook").removeAttr("disabled");
  } else {
	  // get private stuff (if access)
	  app.setup_user({"user": user_id});
  }
  
});

$(function() {
	$login = $(".btn-login").prop("disabled", true);
	$.getScript('//connect.facebook.net/en_UK/all.js', function() {
		$login.prop("disabled", false);
		FB.init({
		  appId: '1436293429934338',
		}); 
		$login.click(function() {
			$login.prop("disabled", true).html("Logging In...");
			app.login_via_facebook();
		});
	});
});
</script>