<div class="well post-settings" style="margin-top: 10px;">
	<h5>Post Settings</h5>
	<div class="form-group" style="position: static;">
		<label>Add Date and Time</label>
		<div class="row">
			<div class="col-xs-10">
				<input type="text" class="form-control control-event" 
					placeholder="Enter Event Date and Time" 
					{% if post.event_datetime %}value="{{ post.event_datetime }}"{% endif %}/>
			</div>
			<div class="col-xs-2">
				<button class="btn btn-default btn-set-event"><i class="icon-ok"></i></button>
			</div>
		</div>
	</div>
	<div class="form-group" style="position: static;">
		<label>Assign To</label>
		{% if post.assigned_to %}
		<div class="assigned-to alert alert-success" style="margin: 10px 0px;">
			<div class="row">
				<div class="col-xs-10">
					<div class="assigned-profile user-profile">
						{% include "templates/includes/profile_display.html" %}
					</div>
				</div>
				<div class="col-xs-2">
					<a class="close">&times;</a>
				</div>
			</div>
		</div>
		<!-- status -->
		<label>Task Status</label>
		<select class="form-control control-status">
		    {% for opt in status_options %}
			<option value="{{ opt }}" {% if opt==post.status %}selected{% endif %}>{{ opt }}</option>
			{% endfor %}
		</select>
		{% else %}
		<input type="text" class="form-control control-assign"
			placeholder="Enter assignment" />
		{% endif %}
	</div>
</div>
