<div class="post" data-name="{{ post.name }}" data-unit="{{ post.unit }}">
	<div class="row">
		<div class="col-xs-2" style="min-height: 50px;">
			<img src="https://graph.facebook.com/{{ post.fb_username }}/picture" class="img-responsive">
		</div>
		<div class="col-xs-10" style="margin-left: -15px; padding-right: 0px;">
			<div>
				<b>{{ post.first_name or "" }} {{ post.last_name or "" }}</b>
				<small class="text-muted wn-timestamp" style="margin-left: 10px;" 
					data-timestamp="{{ post.creation }}"></small>
			</div>
			<div>{{ post.content }}</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-sm-6 tags">
					{% if with_unit %}
						{% if not unit_map.get(post.unit) %}<i class="icon-lock"></i>{% endif %}
						<a href="/{{ post.unit|lower }}" class="label label-default">
							{{ post.unit }}</a>
					{% endif %}
					
					<span class="label label-info event-label
						{% if not post.event_datetime -%}hide{%- endif %}">Event
						<span class="event-when"></span>
					</span>
					<span class="label label-success assigned-label
						{% if not post.assigned_to -%}hide{%- endif %}">{{ post.assigned_to_fullname }}
					</span>
				</div>
				<div class="col-sm-6 text-right buttons">
					{% if write -%}
					<a class="btn btn-default btn-post-settings" style="padding: 2px 5px;">
						<small><i class="icon-cog"></i></small></a>
					{%- endif %}
				</div>
			</div>
			<div class="post-settings-area"></div>
		</div>
	</div>
	<hr class="row">
</div>