<div class="breadcrumb-container">
	{% if children %}
	<a class="pull-right visible-xs toggle-sidebar no-decoration">
		<i class="icon-fixed-width icon-chevron-down"></i>
	</a>
	{% endif %}
	{%- if unit_title -%}
	<ul class="breadcrumb">
		{% for parent in parents %}
			<li><a href="/{{ parent.name|lower }}">{{ parent.unit_title }}</a></li>
		{% endfor %}
		<li class="active">{{ unit_title }}</li>
	</ul>
	{%- else -%}
	<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
		<li class="active">{{ title }}</li>
	</ul>
	{%- endif -%}
</div>
{%- block unit_description -%}
{%- if unit and unit.unit_description -%}
<p class="lead unit-description">{{ unit.unit_description }}</p>
{%- endif -%}
{%- endblock -%}