<div class="titlebar">
	<div class="row" style="padding: 10px">
		<div class="col-xs-4">
			{% if parent %}
			<div class="left-button topnav-button">
				<a href="/{{ parent }}">
					<i class="icon-angle-left"></i>
					<span class="left-title">{{ parent }}</span>
				</a>
			</div>
			{% endif %}
		</div>
		<div class="col-xs-4 text-center">
			<b class="app-title">{% if not public %}<i class="icon-lock"></i> {% endif %}{{ title }}</b></div>
		<div class="col-xs-4 text-right">
			<a style="display: none; margin-right: 5px;" class="btn-settings"><i class="icon-cog"></i> Settings</a>
		</div>
	</div>
	<table class="table">
		<tr>
			<td style="width: 32.7%; background-color: #F28300;"></td>
			<td style="width: 67.3%; background-color: #61a220;"></td>
		</tr>
	</table>
</div>
