<div class="container" style="padding:0px; margin: 0px">
	<div class="row">
		<div class="col-sm-4 sidebar hidden-xs">
			{% include "templates/includes/user_nav.html" %}
			<div class="list-group unit-list-group">
			{% if children %}
				{% include "templates/includes/unit_list.html" %}
			{% endif %}
			</div>
		</div>
		<div class="col-sm-8">
			<div class="feed">
				{% if unit_description %}<p class="lead">{{ unit_description }}</p>{% endif %}
				<div class="unit-toolbar">
					<ul class="nav nav-tabs">
						<!-- <li><a class="btn-follow"><i class="icon-plus"></i> Follow</a></li> -->
						<li {% if view=="feed" %}class="active"{% endif %}>
							<a href="/{{ name|lower }}"><i class="icon-rss"></i>
							<span class="hidden-xs">Feed</span></a></li>
						<li {% if view=="events" %}class="active"{% endif %}>
							<a href="/{{ name|lower }}/events"><i class="icon-calendar"></i>
								<span class="hidden-xs">Events</span></a></li>
						<li {% if view=="tasks" %}class="active"{% endif %}>
							<a href="/{{ name|lower }}/tasks"><i class="icon-pencil"></i>
								<span class="hidden-xs">Tasks</span></a></li>
						<li class="tab-settings hide {% if view=='settings' %}active{% endif %}">
							<a href="/{{ name|lower }}/settings"><i class="icon-cog"></i>
								<span class="hidden-xs">Settings</span></a></li>
						<li class="tab-add hide {% if view=='add' %}active{% endif %}">
							<a href="/{{ name|lower }}/add"><i class="icon-plus"></i>
								<span class="hidden-xs">Add Post</span></a></li>
					</ul>
				</div>
				{%- if not public -%}
				<div class="alert alert-warning">
					<i class="icon-lock"></i> Private
				</div>
				{%- endif -%}
				
				{%- if view=="add" -%}
				{% include "templates/includes/post_editor.html" %}
				{% elif view=="settings" %}
				<div class="permission-editor-area">
				{{ unit_settings }}
				</div>
				{% else %}
				<div class="post-list">
				<div class="small text-muted post-list-help">
				{%- if view=="tasks" -%}
				To add a task, add a post and convert it to a task
				{%- elif view=="events" -%}
				To add an event, add a post and convert it to an event
				{%- endif -%}
				</div>
				<div class="post-list-html">
				{{ post_list_html }}	
				</div>
				</div>
				<div class="text-center">
					<button class="btn btn-default btn-more hide">More</button>
				</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>
{% if view=="add" %}
<script type="text/javascript" src="/assets/js/canvasResize.min.js"></script>
{% endif %}
<script>
	wn.provide("app");
	window.app.unit = "{{ name }}";
	window.app.view = "{{ view }}";
	
	$(function() {
		$(window).on('hashchange', function() {
			if(app.get_view()=="tasks") {
				app.filter_posts_by_status(window.location.hash.substr(1));
			}
		});
	
		if(window.location.hash) {
			$(window).trigger("hashchange");
		}
		
		if(app.get_view() == "add") {
			app.bind_add_post();
		}
		
		app.setup_more_btn({
			cmd: "aapkamanch.post.get_post_list_html",
			status: window.location.hash.substr(1) || undefined
		});
	
	});
</script>
