{% include "templates/includes/titlebar.html" %}
<div class="row">
	<div class="col-sm-8 col-sm-push-4">
		<div class="feed">
			{% if not public %}<div class="alert alert-warning">
				<i class="icon-lock"></i> Private
			</div>{% endif %}
			<div class="permission-editor-area"></div>
			{% include "templates/includes/post_editor.html" %}
			<div class="post-list">
			{{ post_list_html }}
			</div>
			<div class="text-center">
				<button class="btn btn-default btn-more" style="display:none;">More</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-sm-pull-8 sidebar">
		{% include "templates/includes/user_nav.html" %}
		<div class="list-group unit-list-group">
		{% if children %}
			{% include "templates/includes/unit_list.html" %}
		{% endif %}
	</div>
	</div>
</div>