<div class="well permission-editor">
	<h4>1. Edit Description</h4>
	<div class="row">
		<div class="col-xs-12">
			<p>
				<textarea class="form-control control-description" 
					style="height: 100px;">{{ unit_description or "" }}</textarea>
			</p>
			<div>
				<button class="btn btn-default btn-update-description" 
					onclick="app.update_unit_description()">Update</button>
			</div>
		</div>
	</div>
	<hr>
	<h4>2. Add Sub Groups</h4>
	<div class="row">
		<div class="col-xs-12">
			<input class="form-control control-add-group" placeholder="New Group Name"/>
			<div class="text-muted"><small>Only letters, numbers and spaces</small></div>
	        <div class="checkbox" style="position: static;">
	            <label>
	                <input type="checkbox" class="control-add-group-public" 
						{{ "checked" if public else "disabled" }}> <span>Allow all users to read</span>
	            </label>
				<div class="text-muted"><small>Private if unchecked, only users with explicit read access will be allowed to read</small></div>
	        </div>
	        <div class="checkbox" style="position: static;">
	            <label>
	                <input type="checkbox" class="control-add-group-forum" 
						{{ "checked" if forum else "disabled" }}> <span>Allow all users to write</span>
					<div class="text-muted"><small>Public Forum</small></div>
	            </label>
	        </div>
			<div>
				<button class="btn btn-default btn-add-group"><i class="icon-plus"></i> Add</button>
			</div>
		</div>
	</div>
	<hr>
	<h4>3. Manage Users</h4>
	<input class="form-control add-user-control" type="text" placeholder="Select User" />
	<br>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="width: 55%">User</th>
				<th style="width: 15%">Read</th>
				<th style="width: 15%">Write</th>
				<th style="width: 15%">Admin</th>
			</tr>
		</thead>
		<tbody>
			{% for unit_profile in unit_profiles %}
				{% include "templates/includes/unit_profile.html" %}
			{% endfor %}
		</tbody>
	</table>
</div>