<div class="user-nav" style="padding: 15px; min-height: 80px;">
	<div class="row logged-in" style="display:none;">
		<div class="col-xs-4">
			<img class="img-responsive user-picture" />
		</div>
		<div class="col-xs-8">
			<div style="margin-left: -15px;">
				<p><b class="full-name"></b>
				<br><a class="logout-btn small" onclick="app.logout()">Logout</a>
				<br><a class="logout-btn small" onclick="app.show_tasks()">My Tasks
					<span class="task-count"></span></a></p>
			</div>
		</div>
	</div>
	<div class="btn-login-area">
		<button class="btn btn-default btn-login" 
			disabled=disabled>Checking Login...</button>
	</div>
</div>