body {
	position: relative;
	background-color: white;
	padding-bottom: 80px;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

@media (min-width: 751px) {
	html {
		background: url("../img/splash.jpg") no-repeat center center fixed;
		background-size: cover;
	}
	body {
		margin: 30px auto;
		max-width: 750px;
		position: relative;
		background-color: white;
		border-radius: 15px;
	    box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.6);
	}
	

	.titlebar, .titlebar-head {
		border-top-left-radius: 15px; border-top-right-radius: 15px;
		overflow: hidden;
	}

	.titlebar .title {
		text-align: center;
	}
	
	.footer-baseline {
		border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
	}
	
	.sidebar {
		padding-right: 0px;
		box-shadow: 3px 0px 7px -5px rgba(0,0,0,0.5);
	}
	
	.feed-list {
		padding-left: 6px !important;
	}
	
}

@media (max-width: 750px) {
	.sidebar {
		box-shadow: 0px -3px 7px -5px rgba(0,0,0,0.5), 0px 3px 7px -5px rgba(0,0,0,0.5);
	}
}

.container {
	max-width: 750px;
}

.titlebar {
}

.titlebar-head {
}

.titlebar .table {
	margin-bottom: 0px;
}

.titlebar .table td {
	padding: 3px;
}

.list-group-item {
	border-radius: 0px !important;
	border-left: 0px;
	border-right: 0px;
}

.app-title {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	display: inline-block;
}

.topnav-button {
	font-size: 14px;
	padding: 0px 5px;
	cursor: pointer;
}

.unit-toolbar {
	margin-bottom: 10px;
}

.feed {
	padding: 15px;
}

.btn-small, .post-editor .btn {
	padding: 5px;
	font-size: 90%;
}

.btn-right, .post-editor .btn {
	margin-left: 5px;
}

.no-posts {
	margin-top: 15px;
}

.full-page {
	margin: 30px;
}

.img-responsive {
	border-radius: 4px;
}

.user-profile {
	min-height: 50px;
	min-width: 70px;
}

.event-label, .assigned-label {
	margin-right: 4px;
}

.titlebar .breadcrumb {
	margin-bottom: 0px;
}

.label {
	font-weight: normal;
}

.footer-baseline {
	background-color: #eee;
	padding-top: 5px;
	border-top: 1px dashed #aaa;
	margin-top: 10px;
}

.post {
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
	word-wrap: break-word;
}

.parent-post .post {
/*	margin-bottom: 15px;*/
	border: none;
}

.child-post {
	padding-left: 15px;
	border-left: 5px solid #eee;
}

.child-post .post-avatar {
	width: 75%;
}

.hidden-xs {
	display: inline-block !important;
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}

.nav-tabs > li > a {
	padding: 7px 10px;
}