body {
	background-color: white;
	position: relative;
}

footer {
	width: 100%;
	margin-top: 30px;
	padding: 7px 0px;
	border-top: 1px dashed #aaa;
}

#content {
	min-height: 400px;
/*	background-color: #f8f8f8;*/
}

@media (min-width: 768px) {
	.unit-container {
		padding-top: 15px;
	}
	.feed-col {
		border: 1px solid #e7e7e7;
		border-radius: 5px;
		overflow: hidden;
	}
}

.feed-col {
	background-color: white;
}

.unit-description {
	margin: 15px auto;
}

.unit-toolbar {
	margin: 15px auto;
}

.unit-list-group {
	padding: 0px 10px;
}

.unit-list-group-item {
	font-size: 90%;
	margin: 15px 0px;
}

.unit-list-group-item a {
	color: grey;
}

.unit-list-group-item a:hover {
	color: #333;
	text-decoration: none;
}

.toggle-sidebar {
	padding: 7px;
	margin-right: 7px;
}

.label {
	font-weight: normal;
}

.navbar {
	padding: 10px 0px; 
	margin-bottom: -2px;
}

.breadcrumb-container {
	background-color: #f8f8f8;
	margin: auto -15px;
	border-bottom: 1px solid #e7e7e7;
}

.breadcrumb {
	background-color: inherit;
	border-radius: 0;
	margin-bottom: 0px;
}

.titlebar .table {
	margin-bottom: 0px;
}

.titlebar .table td {
	padding: 3px;
}

.list-group-item {
	border-radius: 0px !important;
	border-left: 0px;
	border-right: 0px;
}

.app-title {
	font-size: 18px;
	font-weight: bold;
	padding: 7px 0px;
	display: inline-block;
}

.topnav-button {
	font-size: 14px;
	padding: 0px 5px;
	cursor: pointer;
}

.btn-small, .post-editor .btn {
	padding: 5px;
	font-size: 90%;
}

.btn-right, .post-editor .btn {
	margin-left: 5px;
}

.no-posts {
	margin-top: 15px;
}

.full-page {
	margin: 30px;
}

.img-responsive {
	border-radius: 4px;
}

.user-profile {
	min-height: 50px;
	min-width: 70px;
}

.post {
	padding: 7px 0px;
	word-wrap: break-word;
	border-bottom: 1px solid #eee;
}

.post .media-link {
	display: block;
	min-width: 50px;
	min-height: 50px;
}

.post .media-object {
	border-radius: 4px;
}

.post .media-heading {
	margin-bottom: 12px;
}

.parent-post .post {
	border: none;
}

.child-post {
	border: 1px solid #eee;
	padding-left: 15px;
	background-color: #f8f8f8;
	margin-top: 0px;
}

.hidden-xs {
	display: inline-block !important;
}

.visible-xs {
	display: none !important;
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
	.visible-xs {
		display: inline-block !important;
	}
	
	.breadcrumb-container {
		border-top: 1px solid #e7e7e7;
	}
}

.nav-tabs > li > a {
	padding: 7px 10px;
}

.btn-more {
	margin-top: 15px;
}

textarea {
	resize: vertical;
}

.post-add-textarea {
	height: 200px !important;
}

.post-content img {
	margin: 10px 0px;
}

.assigned-label, .event-label {
	display: inline-block;
	padding: .4em .6em .4em;
	margin-bottom: 7px;
}

a.no-decoration {
	text-decoration: none;
	color: inherit;
}