body {
	position: relative;
	background-color: white;
	padding-bottom: 80px;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#content {
	margin-top: 15px;
	min-height: 400px;
}

.unit-container > .row {
	margin-left: 0px;
	margin-right: 0px;
}

.unit-container > .row > .col-sm-2,
.unit-container > .row > .col-sm-10 {
	padding-left: 0px;
	padding-right: 0px;
}

.unit-list-group {
	padding: 10px;
	border-radius: 5px;
	background-color: whitesmoke;
}

.unit-list-group-item {
	font-size: 90%;
	margin: 5px 0px;
}

.unit-list-group-item a {
	color: grey;
}

@media (min-width: 801px) {			
	.feed-list {
		padding-left: 6px !important;
	}
	
}

.toggle-sidebar {
	margin: 3px auto;
}

.label {
	font-weight: normal;
}

.titlebar .table {
	margin-bottom: 0px;
}

.titlebar .table td {
	padding: 3px;
}

.list-group-item {
	border-radius: 0px !important;
	border-left: 0px;
	border-right: 0px;
}

.app-title {
	font-size: 18px;
	font-weight: bold;
	padding: 7px 0px;
	display: inline-block;
}

.topnav-button {
	font-size: 14px;
	padding: 0px 5px;
	cursor: pointer;
}

.unit-toolbar {
	margin-bottom: 10px;
}

.feed {
	padding: 15px;
}

.btn-small, .post-editor .btn {
	padding: 5px;
	font-size: 90%;
}

.btn-right, .post-editor .btn {
	margin-left: 5px;
}

.no-posts {
	margin-top: 15px;
}

.full-page {
	margin: 30px;
}

.img-responsive {
	border-radius: 4px;
}

.user-profile {
	min-height: 50px;
	min-width: 70px;
}

.footer-baseline {
	background-color: #eee;
	padding-top: 5px;
	border-top: 1px dashed #aaa;
	margin-top: 10px;
}

.post {
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
	word-wrap: break-word;
}

.parent-post .post {
/*	margin-bottom: 15px;*/
	border: none;
}

.child-post {
	padding-left: 15px;
	border-left: 5px solid #eee;
}

.child-post .post-avatar {
	width: 75%;
}

.hidden-xs {
	display: inline-block !important;
}

.visible-xs {
	display: none !important;
}

@media (max-width: 800px) {
	.hidden-xs {
		display: none !important;
	}
	.visible-xs {
		display: inline-block !important;
	}
}

.nav-tabs > li > a {
	padding: 7px 10px;
}

.btn-more {
	margin-top: 15px;
}

textarea {
	resize: vertical;
}

.post-add-textarea {
	height: 200px !important;
}

/*.post-header {
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px dashed #ddd;
}
*/
.post-content img {
	margin: 10px 0px;
}

.assigned-label, .event-label {
	display: inline-block;
	padding: .4em .6em .4em;
	margin-bottom: 7px;
}

a.no-decoration {
	text-decoration: none;
	color: inherit;
}