<div class="unit-container">
	<div class="row">
		<div class="col-sm-10">
			{%- block feed -%}
			<div class="feed">
				{%- block unit_description -%}
				{% if unit.unit_description %}<p class="lead">{{ unit.unit_description }}</p>{% endif %}
				{%- endblock -%}
			
				{%- block unit_toolbar -%}
				<ul class="nav nav-tabs unit-toolbar">
					{%- for t in views -%}
					<li class="{% if view==t.view %}active{% endif %} {% if t.hidden %}hide{% endif %}" 
						data-view="{{ t.view }}">
						<a href="{{ t.url or '' }}"><i class="{{ t.icon }}"></i>
							<span class="nav-label">{{ t.label }}</span></a>
					</li>
					{%- endfor -%}
				</ul>
				{%- if not unit.public_read -%}
				<div class="alert alert-warning"><i class="icon-lock"></i> Private</div>
				{%- endif -%}
				{%- endblock -%}
				
				{%- block view -%}{%- endblock -%}
			</div>
			{%- endblock -%}
		</div>
		<div class="col-sm-2 sidebar hidden-xs">
			{% block unit_list %}
			<div class="unit-list-group">
				{% include "templates/includes/unit_list.html" %}
			</div>
			{% endblock %}
		</div>
	</div>
</div>

<script>
$(function() {
	wn.provide("app");
	window.app.unit = "{{ unit.name }}";
	window.app.view = "{{ view }}";
});
</script>
{%- block unit_script -%}{%- endblock -%}