{% extends "templates/unit_templates/base_unit.html" %}

{%- block view -%}
<div class="small text-muted post-list-help"></div>
<div class="post-list">
{{ post_list_html }}	
</div>
<div class="text-center">
	<button class="btn btn-default btn-more hide">More</button>
</div>
{%- endblock -%}

{%- block unit_script -%}
<script>
$(function() {
	app.setup_more_btn({
		cmd: "aapkamanch.templates.unit_templates.forum_list.get_post_list_html"
	});
	app.toggle_edit(true);
	app.toggle_upvote();
});
</script>
{%- endblock -%}