{% extends "templates/base.html" %}

{% block content %}
<h2 class="text-center">Aap Ka Manch</h2>
<hr>
<h3 class="text-center">Privacy Policy</h3>
<ol>
	<li>We respect your privacy. We won’t use your E-mail id and name other than sending you updates about 
		your tasks or events in groups you follow. You may unsubscribe to these emails at any time as you wish.</li>
	<li>We won’t share your personal data e.g. E-mail id, Contact Number with any third party which is not related with AAP Ka Manch</li>
	<li>At all points we will try to get official sanction from Aam Aadmi Party and we will hope that this
		app will become an official asset of the Aam Aadmi Party. Till that time, this app will be managed
		by volunteers</li>
	<li>If you have any issues or questions, please raise them at <a href="https://github.com/aapkamanch/aapkamanch">https://github.com/aapkamanch/aapkamanch</a></li>
</ol>
<hr>
{% endblock %}