{% extends "templates/base.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-4 sidebar hidden-xs">
		{% include "templates/includes/user_nav.html" %}
	</div>
	<div class="col-sm-8">
		<div class="feed">
			<div class="post-list">
			{{ post_list_html }}
			</div>
			<div class="text-center">
				<button class="btn btn-default btn-more">More</button>
			</div>
		</div>
	</div>
</div>
<script>
	wn.provide("app");
	window.app.unit = "tasks";
	
	$(function() {
		app.setup_more_btn({
			cmd: "aapkamanch.templates.pages.tasks.get_task_list_html"
		});
	});
</script>
{% endblock %}